HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/archetype-resources/**
!**/src/test/resources/archetype-resources/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Gradle ###
.gradle
build/

### Other ###
.DS_Store
*.log
*.sql
.env
.plan
.claude-plugin.md
